/********************* COLOUR REFERENCE CHART *********************

	enactus gold       gold       #FFC222
	enactus grey       grey       #515356

/******************************************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,900);

body {
	background-color: white;
	font-family: 'Source Sans Pro', sans-serif;
}

h2 {
	
}

.vision h1 {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 48px;
	line-height: 1.5em;
	font-weight: 400;
	color: #515356;
}

.hero {
	font-size: 48px;
	font-weight: 600;
	color: #515356;
	text-align: center;
}

.lead {
	max-width: 960px;
	margin: 0 auto; padding: 12px;
	/*font-family: 'Source Sans Pro', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #515356;

}

.project-name {
	font-weight: 400;
	text-align: center;
	border-bottom: 2px solid #FFC222;
}

.sign-up .lead {
	text-align: center;
}
/* ########################################################################
                            		HEADER
######################################################################## */
header {
	/* stays on top */
	position: fixed;
	top: 0px; left: 0px;
	/* looks */
	height: 78px; width: 100%;
	background-color: #515356;
	z-index: 10;
	overflow: hidden;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.inner-header {
	width: 90%;	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em;
}

.logo {
	height: 78px; width: 144px;
	margin: auto 0;
	float: left;	
}

.navv {
	line-height: 78px;
	padding: 0;
	float: right;
}

.navv li {
	display: inline;
	margin: 12px;
}

.navv li a {
  	display: inline-block;
  	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px; font-weight: 400;
	color: white;
	text-decoration: none;
  	text-align: center;
	text-shadow:none; box-shadow: none;
}

.navv li .active {
	color: #FFC222;
	font-weight: bold;
	/*background-color: #FFC222;*/
	/*padding: 3px 12px; */
}

.navv li a:hover {
	color: #FFC222;
}

/* ########################################################################
                           			FOOTER
######################################################################## */
footer {
	height: 50px; width: 100%;
	margin: 0; padding: 0;
	overflow: hidden;
	/*z-index: 10;*/
	background-color: #515356;
	border-bottom: 6px solid #FFC222;
}

.inner-footer {
	width: 95%; max-width: 69em;
	margin: 0;
	padding: 0 1em;
}

.social {
	line-height: 50px;
	float: left;
	font-size: 1em;
	padding: 0;
}

.social li, footer .sitemap li {
	display: inline;
	margin: 12px;
}

.social a {
	text-decoration: none;
	color: white;
	text-align: center;
	display: inline-block;	
  	font-family: 'Source Sans Pro', sans-serif;
  	text-shadow:none; box-shadow: none;
}

.icon-envelope {
	margin-top: 4px;
}

footer .sitemap {
	line-height: 50px;
	float: right;
	font-size: 1em;
	padding: 0;
}


footer .sitemap a { /*TEXT FORMAT*/
	text-decoration: none;
	color: white;
	text-align: center;
  	display: inline-block;
  	font-family: 'Source Sans Pro', sans-serif;
  	text-shadow:none; box-shadow: none;
}

footer .sitemap a:hover {
	color: #FFC222;
}

.copyright {
	font-size: .7em;
	line-height: 1em;
	color: #c4c4c4;
}
/* ########################################################################
                           			BODY
######################################################################## */
.content {
	top: 69px; position: relative;
	margin: 0;
}

.vision {
	width: 100%;
	background-color: #FFC222;
	margin: 0; padding: 0;
	border-top: 12px solid #FFC222;
}

.video-container {
    height: 0; 
    position: relative;
    padding-top: 30px; padding-bottom: 55%;
    overflow: hidden;
}
 
.video-container iframe, .video-container object, .video-container embed {
    height: 100%; width: 100%;
    position: absolute;
    top: 0; left: 0;
}


.wrap-full {
	width: 100%;
	margin: 0; padding: 0;
}
.wrap-full .hero, .wrap-full .lead {
	margin: 0 auto;
	max-width: 650px;
}


.project-title {
	text-align: center;
}

.inline-link {
	display: inline-block;
  	margin: 0 0.25em; 
  	padding-left: 4px; padding-right: 4px;
  	background: #FFC222;
  	border-radius: 0px;
  	transition: all 0.3s ease-out;

	text-decoration: none;
  	font-weight: bold;
  	color: #515356;
}
.inline-link:hover { 
	background: white;
	color: #FFC222;
}
/*.inline-link:active  { background: #C4E1F8; }*/
/*.inline-link:visited { background: #F2BF97; }*/


.advisors {
	text-align: center;
}
.advisors img {
	max-width: 200px;
	/*border: 1px solid red;*/
}
/* ########################################################################
                           	WHO IS ENACTUS FOR
######################################################################## */
.sign-up {
	/*background: url(../img/enactus-origami.png) no-repeat;
	background-size: 100%;*/

}

.email-form {
	width: 100%;
	/*margin: auto 0;*/
	text-align: center;
	position: relative;
}

.input-wrap {
	/*border: 1px solid red;*/
	margin: 0 auto;
	text-align: center;
	margin-bottom: 12px;
}

input[type="email"] {
    height: 42px;
    display: inline-block;
    margin: 0; padding-left: 6px;
    padding-top: 0px; padding-bottom: 0px;
    border: 2px solid #515356;
    border-radius: 0px;
    color: #515356;
    transition: all 0.3s ease-out;
}
input[type="email"]:hover {
    
} 
input[type="email"]:focus {
    outline: none;
    border-color: #FFC222;
}

.button-submit {
	height: 46px; width: 170px;
	/*margin: 10px; padding: 10px;*/
	display: inline-block;
	background: #FFC222;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px; 
	color: white;
	text-decoration: none;	
	border-radius: 0px;
	border-width: 0px;
}
.button-submit:hover {
	font-weight: bold;
	color: #515356;text-decoration: none;
}
/* ########################################################################
                           		COMMITTEE
######################################################################## */
.row-member {
	margin-top: 12px; margin-bottom: 12px;
}

.card {
	background-color: white;
	box-shadow: 2px 2px 5px #888;
	height: 270px;
	font-family: 'Source Sans Pro', sans-serif;	
	font-size: 18px;
}

.dp {
	height: 120px; width: 120px;
	border: 2px solid #FFC222;
	background-color: grey;
	margin: 12px;	
}

.ptitle {
	font-size: 18px;
	font-weight: bold;	
}

.pname {
	line-height: 1.2em;
	margin-top: 6px;
	padding-left: 6px;
	background-color: #FFC222;
	font-weight: bold;
	font-size: 24px;
}

/* ########################################################################
                           		RESPONSIVENESS
######################################################################## */
@media (min-width: 1200px) { /*WIDE SCREEN*/
}

@media (min-width: 768px) and (max-width: 979px) {

}

@media (max-width: 767px) {
	body {
		padding-left: 0; padding-right: 0;
	}
	.logo {
		/*center logo here when navs disappears*/
	}
}

@media (max-width: 635px) {
	body {
		padding-left: 0; padding-right: 0;
	}
	header, .logo {
		height: 50px;
	}
	.logo{
		width: 100px;
	}
	.navv {
		display: none;
	}
	.content {
		top: 40px;
	}
	.vision h1 {
		font-size: 28px;
	}
	.sign-up h2, .hero {
		font-size: 30px;
	}
	.lead {
	font-size: 14px;
	}
	.advisor, .partner {
		max-width: 250px;
		display: block;
		margin: 0 auto;
	}
	.sign-up p {
		text-align: center;
	}
	.thumbnail {
		margin: 12px;
		border: 0.5px solid #515356;
		border-radius: 0px;
		box-shadow: 2px 2px 5px #888;
	}
	footer social, .footer sitemap {
		display: block;
		text-align: middle;
		margin: 0 auto;
	}
	footer .sitemap {
   		/*padding: 1em 0;*/
  	}
  	footer .copyright {
	    display: block;
	    position: relative;
	    margin: 0;
	}
}

@media (min-width: 635px) and (max-width: 767px) {
	.span4 {
		text-align: center;
	}
	.partner {
		max-width: 250px;
		display: inline-block;
		margin: 0 auto;
	}
	.advisor {
		max-width: 250px;
		display: block;
		margin: 0 auto;
	}
}